# Maven
/target/

# IntelliJ IDEA
.idea/
*.iml

# macOS
.DS_Store

# Logs
*.log

# Sistema operativo
Thumbs.db

# Archivos de entorno y configuración local
.env
application.properties

# Archivos de compilación
*.class

# Archivos de pruebas temporales
test-output/